@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';

$background-dark: rgb(37, 37, 36);
$background-body: rgb(64, 64, 64);

$color: #c4c4c4;
$colorTitle: #ebc636;

h1, h2, h3, a, a:hover {
  color: $colorTitle;
}

.layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px minmax(calc(100vh - 100px - 10px), 1fr);
  grid-gap: 10px;
  grid-template-areas:
          '. header'
          'sidebar body'
  ;
  background-color: $background-dark;
  color: $color;
}

.header {
  grid-area: header;

  align-self: center;
  justify-self: start;
  margin-left: 50px;
}

.sidebar {
  grid-area: sidebar;
  margin: 50px;
}

.body {
  grid-area: body;
  background-color: $background-body;

}

@media screen and (max-width: 749px) {
  .layout {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 150px 1fr;
    grid-template-areas:
            "sidebar"
            "header"
            "body"
    ;
  }
}

@media screen and (min-width: 750px) and (max-width: 1112px) {
  .layout {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 150px 1fr;
    grid-template-areas:
            "sidebar"
            "header"
            "body"
    ;
  }
}

@media screen and (max-width: 1112px) {
  .header, .sidebar {
    margin: 20px 0;
    justify-self: center;
  }
  
  .sidebar > h2 {
    text-align: center;
  }
}