@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';

$background-dark: rgb(37, 37, 36);
$background-body: rgb(64, 64, 64);

$color: #c4c4c4;
$colorTitle: #ebc636;

h1, h2, h3, a, a:hover {
  color: $colorTitle;
}

.layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px minmax(calc(100vh - 100px - 10px), 1fr);
  grid-gap: 10px;
  grid-template-areas:
          '. header'
          'sidebar body'
  ;
  background-color: $background-dark;
  color: $color;
}

.header {
  grid-area: header;

  align-self: center;
  justify-self: start;
}

.sidebar {
  grid-area: sidebar;
  position: relative;
  top: 0;
}

.body {
  grid-area: body;
  background-color: $background-body;

}