<a href="{{ path('advert_index') }}"><h1>Wild Corner</h1></a>
<form method="GET">
    <select>
        <option>Catégorie 1</option>
        <option>Catégorie 2</option>
        <option>Catégorie 3</option>
    </select>
    <input type="text" placeholder="Votre recherche ..." />
    <button class="btn btn-outline-light" type="submit">
        <i class="fas fa-search"></i>
        <span class="sr-only">Rechercher</span>
    </button>
</form>