<a href="{{ path('advert_index') }}"><h1>Wild Corner</h1></a>
<form method="GET">
    <div class="d-flex flex-column justify-content-around">
        <div class="form-group">
            <input type="text" placeholder="Votre recherche ..." />

        </div>
        <div class="form-group">
            <button class="btn btn-outline-warning" type="submit">
                <i class="fas fa-search"></i>
                <span class="sr-only">Rechercher</span>
            </button>
        </div>
    </div>
</form>
{% if app.user.username is defined %}
    <a class="btn btn-outline-warning" href="{{ path('advert_new') }}">Ajouter une annonce</a>
{% endif %}