{% extends 'base.html.twig' %}

{% block layout %}
    <div class="layout">
        <div class="header ml-5">
            {% block header %}
                <h1>Les Annonces</h1>
            {% endblock %}
        </div>
        <div class="sidebar mt-5 ml-5">
            {% block sidebar %}
                <h2>Wild Corner</h2>
                <form method="GET"></form>
                <select>
                    <option>Catégorie 1</option>
                    <option>Catégorie 2</option>
                    <option>Catégorie 3</option>
                </select>
                <input type="text" placeholder="Votre recherche ..." />
                <button class="btn btn-outline-light" type="submit">
                    <i class="fas fa-search"></i>
                    <span class="sr-only">Rechercher</span>
                </button>
                </form>
            {% endblock %}
        </div>
        <div class="body p-2">
            {% block body %}{% endblock %}
        </div>
    </div>
{% endblock %}