{% extends 'base.html.twig' %}

{% block layout %}
    <div class="layout">
        <div class="header">
            {% block header %}
                <h1>Les Annonces</h1>
            {% endblock %}
        </div>
        <main class="body p-2">
            {% block body %}{% endblock %}
        </main>
        <div class="sidebar">
            {% block sidebar %}
                {% include '_sidebar.html.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}