{% extends 'base.html.twig' %}

{% block title %}New Advert{% endblock %}

{% block body %}
    <h1>Create new Advert</h1>

    {{ include('advert/_form.html.twig') }}

    <a href="{{ path('advert_index') }}">back to list</a>
{% endblock %}