{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - {{ advert.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/advert-show.css') }}" />
{% endblock %}

{% block header %}<h1>{{ advert.title }}</h1>{% endblock %}

{% block body %}

{% endblock %}